:root {
  --bg-btn-ligth: #b2bec3;
  --btn-defaultBorder:1px solid #636e72;
  --bg-btn-dark: #636e72;
  --color-light: #dfe6e9;
  --bg-btn-hover: #ffeaa7;
  --btn-bg-operator: #fdcb6e;
  --btn-bg-operatorActive: #fdcb6ecc;

}

.button {
  color: #2c3e50;
  background-color: #ecf0f1;
  border: none;
  border-right:1px solid #2c3e50;
  border-bottom: 1px solid #2c3e50;
  font-size: 1.4em;
  outline: none;
  cursor: pointer;
}

.button:active{
  color: var(--bg-btn-hover);
  background-color: var(--bg-btn-ligth);
  border: none;
  border-right: var(--btn-defaultBorder);
  border-bottom: var(--btn-defaultBorder);;
  font-size: 1.4em;
  cursor: pointer;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  font-size: 1.4em;
  background-color: #e67e22;
  color: #ffffff;
}

.button.operation:active{
  background-color: #f39c12cc;
}