

.calculator {
  height: 400px;
  width: 435px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 80px 80px 80px 80px 80px;
}